* {
    box-sizing: border-box;
    margin: 0 auto;
}

.header {
    background-image: url(header-inage.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    position: relative;
}

.text__h1 {
font-family: 'Mirra Auriolic';
font-style: normal;
font-weight: 400;
font-size: 200px;
line-height: 220px;
color: #FFFFFF;
position: absolute;
top: 30%;
left: 10%;
}

.text__h2 {
font-family: 'Nimbus Mono';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 55px;
color: #FFFFFF;
position: absolute;
bottom: 30%;
right: 10%;
}

