* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: #000000;
}

.header {
    background-image: url(img/header-inage.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    position: relative;
}

.text__h1 {
font-family: 'Mirra Auriolic';
font-style: normal;
font-weight: 400;
font-size: 200px;
line-height: 220px;
color: #FFFFFF;
position: absolute;
top: 30%;
left: 10%;
}

.text__h2 {
font-family: 'Nimbus Mono';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 55px;
color: #FFFFFF;
position: absolute;
bottom: 30%;
right: 10%;
}

.h2__text {
    font-family: 'Mirra Auriolic';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
    padding-top: 75px;
    padding-bottom: 45px;
}

.p__text {
    font-family: 'Nimbus Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-bottom: 45px;
}

.conteiner__content {
    display: grid;
    grid-template-columns: repeat(12, 75px);
    grid-template-rows: repeat(7; auto);
    gap: 70px;
    background-color: #000000;
    margin-left: 40px;
    /* margin-right: 40px; */
    overflow: hidden;
    /* justify-content: center; */
}

.about {
    grid-column: span 5;
}

.img__line {
    grid-column: 6/9;
    align-self: center;
}

.img__oscar {
    grid-column: 9/12;
    align-items: center;
    max-width: 100%;
}





@media (min-width:1919px) {
    .conteiner__content {
        justify-content: center;
    }
    
}